.navbar-color{
    background-color: #733EE2;
}
.logo{
    width: 100%;
    height: 50px;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.head{
    width: 100%;
    height: 63vh;
    background-color: #733EE2;
    border-radius: 0 0 50% 50%;
}
.prt-text{
    font-size: 80px;
    font-weight: 500;

}
.p-head{
    color: #733EE2;
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
}
.p-para{
    font-size: 25px;
    font-weight: 400;
}
.p-para-2{
    font-size: 20px;
    font-weight: 400;
}
.c-mt{
    margin-top: 100px;
}
.footer{
    margin-top: 60px;
    background-color: #733EE2;
}
.icon-size{
    font-size: 22px;
    font-size: 600;
}


@media only screen and (max-width: 768px) {
  }


